@page "/Login"
@attribute [StreamRendering]

@inject IUserLoginServices UserLoginServices
@inject NavigationManager NavigationManager
@inject ICacheServices CacheServices
@inject NavService NavService
@inject MessageHandler MessageHandler

<div class="d-flex justify-content-center">
    <div hidden="@hideLoad" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div hidden="@hideContent" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h3 class="text-center">Login</h3>
            <EditForm Enhance Model="user" FormName="Login" OnValidSubmit="LoginUserAsync">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="form-group">
                 @*    <label for="email">Email address</label> *@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <InputText @bind-Value="@user.Username" class="form-control" placeholder="Email" ></InputText>
                        
                    </div>
                    <div class="col">
                        <ValidationMessage For="() => user.Username"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group">
                   @*  <label for="password">Password</label> *@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                        <InputText @bind-Value="@user.Password" class="form-control" placeholder="Senha"></InputText>
                        
                        @* <input type="password" class="form-control" id="password" placeholder="Senha"> *@
                    </div>
                    <div class="col">
                        <ValidationMessage For="() => user.Password"></ValidationMessage>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <hr>
                <button type="button" class="btn btn-danger btn-block">
                    <i class="fab fa-google"></i> Login with Google
                </button>
            </EditForm>
            <br/>
            <div style="@(isVisible ? "display:block;" : "display:none;")" class="alert alert-warning" role="alert">
                <p>@message</p>
            </div>
            <NavLink href="Criar" class="nav-link d-flex justify-content-center" activeClass="active">
                Novo Usuario? Criar!
            </NavLink>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm(FormName = "Login")]
    private UserLoginModel user { get; set; } = new();
    private String message = String.Empty;
    private bool isVisible = false;
    private bool hideLoad = false;
    private bool hideContent = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        if (UserLoginServices.CurrentUser is null)
        {
            await CacheServices.SearchActiveSession();
            UserLoginServices.CurrentUser = CacheServices.CurrentUser;

        }
        if(UserLoginServices.CurrentUser is null)
        {
            // await UserLoginServices.LogOut();
            message = MessageHandler.Message;
            if (!string.IsNullOrEmpty(message))
            {
                isVisible = true;
            }

        }
        else
        {
            user = UserLoginServices.CurrentUser;
            user.Password = string.Empty;
            await LoginUserAsync();
        }
        hideLoad = true;
        hideContent = false;
    }


    private async Task  LoginUserAsync()
    {
        if (UserLoginServices.CurrentUser is null)
        {
            await CacheServices.SearchActiveSession();
        }
        ArgumentNullException.ThrowIfNull(user);
        if (UserLoginServices.CurrentUser is null)
        {
            await UserLoginServices.ReadAsync(user);
            ArgumentNullException.ThrowIfNull(UserLoginServices.CurrentUser);
            await CacheServices.CreateUserSession(UserLoginServices.CurrentUser);
        }
        
        isVisible = true;
        message = MessageHandler.Message;

        if (UserLoginServices.CurrentUser is not null)
        {
            await NavService.AddNavItem
            (
                new NavItemModel
                    {
                        Text = "Sair",
                        Url = "Sair",
                        Icon = "bi bi-box-arrow-right",
                        IsVisible = true
                    }
            );
            NavigationManager.NavigateTo("perfil");
        }
    } 
}
