@page "/Login"
@attribute [StreamRendering]

@inject IUserLoginServices UserLoginServices
@inject NavigationManager NavigationManager
@inject ICacheServices CacheServices
@inject NavService NavService
@inject MessageHandler MessageHandler

<div class="d-flex justify-content-center">
    <div hidden="@hideLoad" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div hidden="@hideContent" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h3 class="text-center">Login</h3>
            <EditForm Enhance Model="userLogin" FormName="Login" OnValidSubmit="LoginUserAsync">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <div class="form-group">
                 @*    <label for="email">Email address</label> *@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <InputText @bind-Value="@userLogin.Username" class="form-control" placeholder="Email"></InputText>
                        
                    </div>
                    <div class="col">
                        <ValidationMessage For="() => userLogin.Username"></ValidationMessage>
                    </div>
                </div>
                <div class="form-group">
                   @*  <label for="password">Password</label> *@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                        <InputText type="password" @bind-Value="@userLogin.Password" class="form-control" placeholder="Senha"></InputText>
                        
                        @* <input type="password" class="form-control" id="password" placeholder="Senha"> *@
                    </div>
                    <div class="col">
                        <ValidationMessage For="() => userLogin.Password"></ValidationMessage>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <hr>
                <button type="button" class="btn btn-danger btn-block">
                    <i class="fab fa-google"></i> Login with Google
                </button>
            </EditForm>
            <br/>
            <div style="@(isVisible ? "display:block;" : "display:none;")" class="alert alert-warning" role="alert">
                <p>@message</p>
            </div>
            <NavLink href="Criar" class="nav-link d-flex justify-content-center" activeClass="active">
                Novo Usuario? Criar!
            </NavLink>
        </div>
    </div>
</div>

@code {
    [SupplyParameterFromForm(FormName = "Login")]
    private UserLoginModel userLogin { get; set; } = new();
    private String message = String.Empty;
    private bool isVisible = false;
    private bool hideLoad = false;
    private bool hideContent = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(0);
        hideLoad = true;
        hideContent = false;
    } 

    private async Task LoginUserAsync()
    {
        await Task.Delay(0);
        await FetchUser();
        if (UserLoginServices.CurrentUser is not null)
        {
            userLogin = UserLoginServices.CurrentUser;
            await CreateSession();
            NavigationManager.NavigateTo("/");
        }
        else
        {
            message = MessageHandler.Message;
            isVisible = true;
        }
    }

    private async Task FetchUser()
    {
        await UserLoginServices.ReadAsync(userLogin);
    }

    private async Task CreateSession()
    {
        await Task.Delay(0);
        if (UserLoginServices.CurrentUser is not null)
        {
            await CacheServices.CreateUserSession(userLogin);
        }
    }
}
