@page "/perfil"
@inject IUserLoginServices UserLoginServices
@inject IUserServices UserServices
@inject NavigationManager NavigationManager
@inject UserLoginCacheServices UserLoginCacheServices


<div  class="d-flex justify-content-center">
    <div hidden="@hideLoad" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div class="container mt-5" hidden="@hideContent">
    <EditForm FormName="User" Model="@userModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="firstName">First Name</label>
            <InputText placeholder="Primeiro Nome (Obrigatorio)" class="form-control" @bind-Value="userModel.UserFirstName" />
            <ValidationMessage For="@(() => userModel.UserFirstName)" />
        </div>

        <div class="form-group">
            <label for="middleName">Middle Name</label>
            <InputText placeholder="Nome do meio (Nao Obrigatorio)" class="form-control" @bind-Value="userModel.UserMiddleName" />
            <ValidationMessage For="@(() => userModel.UserMiddleName)" />
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <InputText placeholder="Ultimo Nome (Obrigatorio)" class="form-control" @bind-Value="userModel.UserLastName" />
            <ValidationMessage For="@(() => userModel.UserLastName)" />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <InputText disabled class="form-control" @bind-Value="@userEmail" type="email" />
            <ValidationMessage For="@(() => @userEmail)" />
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <InputText placeholder="Numero de telefone (Obrigatorio)" class="form-control" @bind-Value="userModel.PhoneNumber" />
            <ValidationMessage For="@(() => userModel.PhoneNumber)" />
        </div>

        <div class="form-group">
            <label for="cpf">CPF</label>
            <InputText placeholder="CPF (Nao Obrigatorio)" class="form-control" @bind-Value="userModel.Cpf" />
            <ValidationMessage For="@(() => userModel.Cpf)" />
        </div>

        <div class="form-group">
            <label for="rg">RG</label>
            <InputText placeholder="RG (Nao Obrigatorio)" class="form-control" @bind-Value="userModel.Rg" />
            <ValidationMessage For="@(() => userModel.Rg)" />
        </div>

        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <InputDate placeholder="Nascimento (Nao Obrigatorio)" class="form-control" @bind-Value="userModel.DateOfBirth" />
            <ValidationMessage For="@(() => userModel.DateOfBirth)" />
        </div>
@*         <InputNumber hidden @bind-Value="userLoginModel.UserId"></InputNumber> *@
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>

@code {

    private UserModel? userModel = new();
    private UserLoginModel? userLoginModel = new();
    private string? userEmail { get; set; }
    private bool hideLoad = false;
    private bool hideContent = true;

    private int UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        userLoginModel = UserLoginServices.CurrentUser;
        if (userLoginModel is null)
        {
            NavigationManager.NavigateTo("login");
        }
        else
        {
            await UserLoginCacheServices.ReadUserDetails(userLoginModel.UserId);
            if (UserLoginCacheServices.UserDetails is null)
            {
                await UserServices.ReadAsyncById(userLoginModel.UserId);
                if (UserServices.CurrentUserDetails is not null)
                {
                    await UserLoginCacheServices.AddUserDetails(UserServices.CurrentUserDetails);
                }
            }
            if (UserServices.CurrentUserDetails is not null)
            {
                userModel = UserServices.CurrentUserDetails;
            }
            userEmail = userLoginModel.Username;
        }
        hideLoad = true;
        hideContent = false;
    }


    private async Task HandleValidSubmit()
    {
        //userModel.UserId = userLoginModel.UserId;
        if (userModel is not null && userLoginModel is not null)
        {
            userModel.UserId = userLoginModel.UserId;
            await UserServices.CreateUserAsync(userModel, userLoginModel.UserToken);
            await AddUserToCache();
        }

    }

    private async Task AddUserToCache()
    {
        if (UserServices.CurrentUserDetails is not null)
        {
            await UserLoginCacheServices.AddUserDetails(UserServices.CurrentUserDetails);
        }
    }


}
