
@attribute [StreamRendering]

@inject IAddressServices AddressServices
@inject IAddressTypeServices AddressTypeServices
@inject IUserLoginServices UserLoginServices
@inject NavigationManager NavigationManager
@inject CacheServices CacheServices
@inject MessageHandler MessageHandler

@if (currentUser is not null)
{
    <h3>Address</h3>
    <SearchZipCode OnSuccess="HandleSuccess" OnFailure="HandleFailure"></SearchZipCode>
    <hr />

    <EditForm FormName="AddAddress" Model="address" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <InputText placeholder="CEP" @bind-Value="address.ZipCode" disabled="@isSubmitted" />
        <div class="col">
            <ValidationMessage For="() => address.ZipCode"></ValidationMessage>
        </div>

        <InputText placeholder="Rua" @bind-Value="address.StreetName" disabled="@isSubmitted" />
        <div class="col">
            <ValidationMessage For="() => address.StreetName"></ValidationMessage>
        </div>

        <InputText placeholder="Complemento" @bind-Value="address.Complement" disabled="@isSubmitted" />
        <div class="col">
            <ValidationMessage For="() => address.Complement"></ValidationMessage>
        </div>

        <InputText disabled placeholder="Bairro" @bind-Value="address.NeighborhoodName" />
        <div class="col">
            <ValidationMessage For="() => address.NeighborhoodName"></ValidationMessage>
        </div>

        <InputText disabled placeholder="Cidade" @bind-Value="address.CityName" />
        <div class="col"></div>

        <InputText disabled placeholder="Estado" @bind-Value="address.StateName" />
        <div class="col"></div>

        <InputSelect id="addressType" @bind-Value="address.AddressTypeId" class="form-control" disabled="@isSubmitted">
            <option value="0" selected>Selecione o tipo de endereco</option>
            @if (addressTypesModel is not null)
            {
                @foreach (var addressType in addressTypesModel)
                {
                    <option value="@addressType.AddressTypeId">@addressType.AddressTypeName</option>
                }
            }
        </InputSelect>
        <div class="col">
            <ValidationMessage For="() => address.AddressTypeId"></ValidationMessage>
        </div>

        <InputCheckbox @bind-Value="address.MainAddress"></InputCheckbox>

        <InputNumber hidden @bind-Value="address.UserId"></InputNumber>
        <InputNumber hidden @bind-Value="address.StreetId"></InputNumber>
        <InputNumber hidden @bind-Value="address.CreatedBy"></InputNumber>
        <InputNumber hidden @bind-Value="address.ModifiedBy"></InputNumber>

        <div class="d-flex justify-content-start align-items-center mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <span style="@GetStyle()" class="alert alert-warning ml-3 mb-0" role="alert">
                <p style="@(AddressServices.isError ? "color:#410E0E;" : "color:#0E4129;")">@message</p>
            </span>
        </div>
    </EditForm>
}
else
{
    <p>Loading...</p>
}




